<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.joda.time">

  <main-class name="org.joda.time.Main"/> 

  <resources>
    <resource-root path="JodaTime.jar"/>
        <!-- Insert resources here -->
    </resources>

    <!--dependencies>
      <module name="org.jboss.logging"/>
    </dependencies-->
</module>
